.sidebar-title {
    display: none;
}

.dataframe {
    display: inline-block;
}

.dataframe th,
.dataframe td {
    font-size: 90% !important;
}

.sourceCode,
.cell-code,
.cell-output-stdout,
.cell-output-display {
    font-size: 90% !important;
}

cell .cell-output:last-of-type {
    margin-bottom: 2em;
}

.cell-output-display img {
    max-width: 100%;
    height: auto;
}

.dataframe td {
    vertical-align: middle;
    text-align: right;
}

tbody tr:hover {
    background: rgba(66, 165, 245, 0.2);
}